<div class="t-features">
  <h3>Features
  </h3>
  <div class="row">
    <div class="col-md-4">
      <i class="icon-people"></i>
      Communities
    </div>
    <div class="col-md-4">
      <i class="icon-notebook"></i>
      News Feeds
    </div>
    <div class="col-md-4">
      <i class="icon-camera"></i>
      Photo Streams
    </div>
  </div>
</div>
