    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid">
      <h1 class="display-3">
        <h3>Welcome to Tree social network.</h3>
        <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
      </h1>
      <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign up &raquo;</a></p>
    </div>

    <div class="container-fluid">
      <hr>
      <footer>
        <p>&copy; Company 2017</p>
      </footer>
    </div> <!-- /container -->
