<% if user_signed_in? %>
 <%= render 'layouts/activity' %>
<% else %>

  <h1 class="display-3">
    <h3>Welcome to Tree social network.</h3>
    <p><%= link_to 'People:', users_path %> <%= User.count %> registered</p>
  </h1>
  <p><a class="btn btn-primary" href="/users/sign_up" role="button">Join &raquo;</a></p>
  <p><a class="btn btn-primary" href="/users/sign_in" role="button">Log in &raquo;</a></p>
  <%= render "visitors/features" %>
</div>
<% end %>
