<div class="home">
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <%= image_tag("tree-logo.png", width: "80px") %>
      </a>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  </nav>
  <main class="container bg-light">
    <h1>Feed</h1>
  </main>
</div>
