<div class="container-fluid">
  <h1 class="display-3">
    <h3>Activity stream</h3>
    <p><%= link_to 'People:', users_path %> <%= User.count %> registered</p>
     <%= form_tag :avatars %>
  </h1>
</div>
