<div class="vertical-center-wrapper">
  <div class="container text-center">
    <%= image_tag("tree-logo.png", width: "100px") %>
    <h4 class="mt-3 text-black-50">The social network that doesn't track you.</h4>
    <button class="btn btn-outline-primary mt-3" disabled>Coming Soon</button>
  </div>
</div>
