<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/">Home
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
  <%= render 'layouts/nav_links_for_auth' %>
</ul>
